name: Publish to Maven Central

on:
  push:
    branches:
      - main
  # Or on tags
  # push:
  #   tags:
  #     - 'v*.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'
          # For signing
          # signing-key: ${{ secrets.SIGNING_KEY }}
          # signing-password: ${{ secrets.SIGNING_PASSWORD }}

      - name: Publish artifacts
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        run: ./gradlew publish
